* {
  margin: 0;
  padding: 0;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
  align-items: center;
}
#header_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
#header_logo span {
  color: #ff5400;
}
#header_menu nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
#header_menu nav ul li a {
  text-decoration: none;
  color: black;
}
#active {
  color: #ff5400 !important;
}
